<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackathon.pemilu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> 
	
    <application
        android:name="com.hackathon.pemilu.HackathonApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        
        <activity
            android:name="com.hackathon.pemilu.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.hackathon.pemilu.SearchNIKActivity_"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.hackathon.pemilu.SelectCandidateActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.hackathon.pemilu.SelectPartyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.hackathon.pemilu.CandidateDetailActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.hackathon.pemilu.ReportImages_"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.hackathon.pemilu.ReportImageShare_"
            android:label="@string/app_name" >
        </activity>
        
		<activity
            android:name="com.hackathon.pemilu.SettingSocmed_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="oauth" android:host="pemilu_hackathon"/>
            </intent-filter>
        </activity>        
        
		<activity
            android:name="com.hackathon.pemilu.ReportImageZoom_"
            android:label="@string/app_name" >
        </activity>        
        <activity android:name="com.facebook.LoginActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id" />
    </application>

</manifest>
